<%-include ("partials/header") %>
<div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-sad-tear fa-6x"></i>
      <h1 class="display-3">Oh no! You can't be logged in. Try again!</h1>
      
      <hr>
      
      <a class="btn btn-light btn-lg" href="/login" role="button">Log In</a>

    </div>
</div>
<%-include ("partials/footer") %>