<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">You've registered successfully!</h1>
      
      <hr>
      <h1 class="display-3">Click to login.</h1><br>
      <a class="btn btn-light btn-lg" href="/login" role="button">Log in</a>

    </div>
</div>

<%- include('partials/footer') %>